
@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="h1">About Us</h1>
    <div class="row featurette">
        <div class="col-md-7 col-lg-7 col-sm-12">
            @*<h3 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h3>*@
            <div class="clr10"></div>
            <p>Unseentalents.com was created with the simple idea that talented people live everywhere. So can afford to go to actual competitions and travel the world showing their talent however it is a fact that most cannot. That is why this program was created . Giving people of all walks of life and of every age to be heard and also see what people think of their talent and do it from the comfort of their own home. This is meant to be a true arena for people to display what they can do and the best part is they will be heard and voted on by members of all ages and backgrounds.</p>
            <p>We want to do our best to keep this membership based arena as honest and open as possible. We will do our best to keep out vulgarity and disrespectful words that may be used by some members. Some may argue that it is censorship to do this and that is a valid argument , however this is also a membership and within the guild lines of membership we allow anyone to be a member just not be disrespectful to another members race, gender or religion.</p>
      
     
         </div>
        <div class="col-md-5 col-lg-5 col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oIpSZcdOVnA"></iframe>
            </div>
        </div>
    </div>
    <div class="clr20"></div>
    <div class="row featurette">
        <div class="col-md-12 col-lg-12 col-sm-12">
            @*<h3 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h3>*@
            <div class="clr10"></div>
            <p>We truly hope that you will find this a exciting journey and we hope to share some beautiful music and voices with the world.</p>
            <br>
             <p>I respect you all and please respect each other</p>
            <br>
            <p>Samuel J. Camerano Jr.</p>
            
        </div>

    </div>
    <div class="clr50"></div>


</div>

