@{
    ViewBag.Title = "howtoapply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="h1">Enter Contest</h1>
    <div class="row featurette">
        <div class="col-md-7 col-lg-7 col-sm-12">
            <h3 class="featurette-heading">How It Works:</h3>
            <div class="clr10"></div>
            <p>There are 2 competition categories:</p>
            <p style="margin-bottom: 0in;">UnseenTalents.com has [2] two competition categories  .</p>
            <p style="margin-bottom: 0in;">1.   Vocals: any number of male and/or female vocal performers</p>
            <p style="margin-bottom: 0in;">2.   Bands: one instrument or more, with or without vocals</p>
            <p style="margin-bottom: 0in;">Contestants will upload their video or audio files (which may be up to 8MB and 90 seconds long) with the understanding that their images will be obscured and they will be judged on talent only. Unseen Talents reserves the right to reject videos due to inappropriate language, behavior, or content.

</p>
            <p style="margin-bottom: 0in;">Contestants from anywhere in the world may enter the contest and submit their videos to the Unseen Talents website. Upon approval, the video will be masked and uploaded to the viewing area for judging (which may take up to 48 hours).

</p>
            <p><a href="@Url.Action("registration","webapp")">Register here!</a>
            <br />
Videos are judged based on the number of votes they receive from the viewers/audience/visitors to the site.
</p>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
                <video controls="controls">
                    <source src="http://unseent.s3.amazonaws.com/vids/unseenintrovideo.mp4" type="video/mp4" />
                </video>
               
                
            </div>
        </div>

    </div>
    <div class="row featurette">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h3 class="featurette-heading">How Rounds Are Completed</span></h3>
            <div class="clr10"></div>
            <p style="margin-bottom: 0in;">After filling (6) six showcase spots the contestants will be voted on by the viewing or listening internet participant (judges) first to narrow the members down to [3] three and then to [1] one member who earns the spotlight. That member will be given the opportunity to sell their  video to UnseenTalents.com for $500.00 United States Dollars which will be paid out using the PayPal service .</p>
            <p style="margin-bottom: 0in;">When a member passes through to each of the [5] five elimination rounds the remaining contestants will be given the opportunity to upload a new video in exchange for the video that was in the competition, also the new video in each round will be allowed to extend the time of the video .First elimination round will be  up to  90 second, 2nd  round up to 110 seconds 3rd round up to 130 seconds 4th up to 180 seconds fifth and final round in first level will be up to 180 seconds . If that option is  chosen the videos cannot be reversed unless it is done if the contestant makes it to the next round of competition .</p>
            <p style="margin-bottom: 0in;">For the spotlight competition which will be only two competitions in length all videos can be up to 180 seconds in length.</p>
        </div>
    </div>

    <div class="clr20"></div>
    <div class="row featurette">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h3 class="featurette-heading">Registration Process</h3>
            <div class="clr10"></div>
            <p style="margin-bottom: 0in;">There is a no purchase necessary to upload a video to the unseen talent&#8217;s website in order to receive a free upload password you must send a envelop containing a self addressed postage paid return envelop inside to Unseen Talent&#8217;s at 5016 W. Shangri La Rd. Glendale AZ. 85304 a password for a free upload will be sent back to you . One upload per contestant per month. Each month there will be a new password given for the free upload. All rules will still apply to free uploads. A total of 12 free uploads per email account per calender year, Unseen Talents id not responsible for failure to receive mail due to postal delivery services</p>
            <p style="margin-bottom: 0in;">Or simply sign up for One of the memberships in the membership area on the unseen talent&#8217;s website Membership information will be attached to members email account .</p>
            <h3 style="margin-bottom: 0in;">Members will be allowed access to the members only forum where members can communicate with each other however no names and no email addresses can be exchanged in this forum , this is to keep the anonymity of our members, sharing of personal information will be in violation of the membership agreement and result in termination of the membership . If a member wishes to be contacted by another member they will need to contact the unseen talents membership committee and only if both participant are in agreement the connection will be made ..</h3>
            <p>&nbsp;</p>
            <p style="margin-bottom: 0in;">members will also have access to informational audios and videos within the down-loadable library.</p>
            <h2>How Rounds Are Completed</h2>
            <p style="margin-bottom: 0in;">Round voting will go as follows. It will take a total of [6] six weeks to complete a showcase cycle and [2] one weeks to complete a spotlight cycle .</p>
            <p style="margin-bottom: 0in;">Multiple competitions will be running at any given time once the first [2] two weeks of opening the voting has been completed .</p>
            <p style="margin-bottom: 0in;"> Videos are uploaded to the site .</p>
            <p style="margin-bottom: 0in;">After approx. [48] forty eight hours the audio or video will be live on the UT website however not able to be voted on until the voting starts for that group.</p>
            <p style="margin-bottom: 0in;">there is a [2] two week holding period or a minimum of 100  members. (Viewing area) before audios or videos can be voted on .</p>
            <p style="margin-bottom: 0in;">Once the [2] week holding period is over and the minimum 100 members is reached the voting will begin .</p>
            <p style="margin-bottom: 0in;">Voting for the first elimination round will last [2] two weeks .</p>
            <p style="margin-bottom: 0in;">after the [2] two weeks of voting the top [24] twenty-four will be shown</p>
            <p style="margin-bottom: 0in;">The next round of voting will last [1] one week .</p>
            <p style="margin-bottom: 0in;">at the end of [1] one week the top [12] twelve will be revealed .</p>
            <p style="margin-bottom: 0in;">Now voting for the top [12] twelve will begin and after one week the top [6] will be revealed.</p>
            <p style="margin-bottom: 0in;">Now voting for the top [6] six will begin and after [1] one week of voting the top [3] three will be revealed.</p>
            <p style="margin-bottom: 0in;">Now voting for the top [3] will begin and after [1] one week of voting the top [1] one or showcase will be revealed .</p>
            <p style="margin-bottom: 0in;">At the same time round [1] one is being voted on the next group of uploads that were in the [2] two week holding begins to be voted on .</p>
            <p style="margin-bottom: 0in;">This cycle will be repeated until there are [6] six members in a showcase .</p>
            <p style="margin-bottom: 0in;">At that point the voting will begin for that level of the competition .</p>
            <p style="margin-bottom: 0in;">Voting for the [6] six showcase members will go for [1] one week  and the  top [3] three of the showcase will be revealed .</p>
            <p style="margin-bottom: 0in;">Next voting for the top [3] will run for [1] one week and then the top spot or SPOTLIGHT  member will be crowned and receive an offer to sell their  video  via the PayPal service .</p>
            <p style="margin-bottom: 0in;">
            <p>We will soon open the Actors and actress section of unseentalents.com,unseentalent.com / How this section will work is as a member you will be allowed to vote and be part of the forum , again as in the other areas no personal information will be shared . Any personal contact will be shared only through the unseentalents.com internal system and it is only with written request and agreement between both parties. We want to keep unanimity for our members extremely confidential .</p>
            <p>The Actor section will be similar to the singing and band section in the voting process , However the member contestants will have the choice to be seen as in their uploaded video . There will be four sections that can be entered , Comedy, Drama, horror, and action, there will be a provided script that will be read and voters will determine who the best actor or actress is .</p>
        </div>

    </div>
    <div class="clr50"></div>


</div>

